<!DOCTYPE html>
<html>
<head>
    <title>Validation de la commande</title>
</head>
<body>

<style>
    td {
        border: 1px solid black
    }
</style>

<h1>Validation de la commande</h1>
<p>Votre commande à bien été validée.</p>
<p>Coût total de la commande: {{ totalPrice }}€</p>
<table>
    <tr>
        <th>Produit</th>
        <th>Coût unitaire</th>
        <th>Quantité</th>
        <th>Description</th>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.product.description }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>
