<!DOCTYPE html>
<html>
<head>
    <title>Création de votre compte March'E'Colo</title>
</head>
<body>
<h1>Création de votre compte</h1>
<p>{{ firstnameUser }} {{ lastnameUser }}, bienvenue sur la plateforme March'E'Colo  !</p>
<p>Nous vous vous souhaitons de trouver votre bonheur dans notre marché.</p>
</body>
</html>
