<!DOCTYPE html>
<html>
<head>
    <title>Demo Template</title>
</head>
<body>
<h1>Le template de démonstration</h1>
    <p>Bienvenue sur la démontsration, ceci est le contenu du mail.</p>
</body>
</html>
